numpy==1.24.3        # Ensure compatibility with pmdarima and other libraries
pandas==1.5.3       # Data manipulation
streamlit==1.26.0   # Streamlit for the web app
plotly==5.15.0      # Interactive plots
matplotlib==3.8.0    # Basic plotting
statsmodels==0.14.0  # Statistical models
pmdarima==2.0.3      # Seasonal and non-seasonal ARIMA models
prophet==1.2.4       # Forecasting tool
